@import 'breakpoints';

@media screen and (min-width: $grid-breakpoint-lg) {
    $timeline-title-width: 30%;
    $timeline-body-width: 100% - $timeline-title-width;
    $timeline-title-font-size: 20px;
    $timeline-title-font-weight: 600;
    $timeline-body-margin-x: 40px;
    $timeline-line-width: 2px;
    $timeline-line-background-color: white;
    $timeline-line-dot-size: 10px;
    $timeline-title-line-height: 1.5;
    $timeline-section-margin-y: 32px;
    .timeline {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        position: relative;

        &:before {
            content: '';
            height: 100%;
            position: absolute;
            width: $timeline-line-width;
            left: calc(#{$timeline-title-width} + 20px);
            background-color: $timeline-line-background-color;
        }

        &-section {
            display: flex;
            flex-direction: row;
            margin-bottom: $timeline-section-margin-y;

            &:last-child {
                margin-bottom: 0;
            }

            &__title {
                text-align: right;
                position: relative;
                flex: 1 0 $timeline-title-width;
                line-height: $timeline-title-line-height;
                font-size: $timeline-title-font-size;
                font-weight: $timeline-title-font-weight;

                &:before {
                    content: '';
                    right: -26px;
                    top: 12px;
                    position: absolute;
                    width: $timeline-line-dot-size;
                    height: $timeline-line-dot-size;
                    border-radius: $timeline-line-dot-size;
                    background-color: $timeline-line-background-color;
                }
            }

            &__body {
                margin-left: $timeline-body-margin-x;
                flex: 1 0 $timeline-body-width;

                ul {
                    list-style-type: disc;
                }
            }
        }
    }
}

@media screen and (max-width: $grid-breakpoint-lg) {
    .timeline {
        list-style: none;
        margin: 0;
        padding: 0;

        &-section {
            margin-bottom: 32px;

            &:last-child {
                margin-bottom: 0;
            }

            &__title {
                font-weight: 600;
                text-transform: uppercase;
            }

            &__body {
            }
        }
    }
}
