$light-color: #ffffff;

$primary-color: hsl(343, 87%, 58%);
$primary-color-light: hsl(343, 87%, 68%);
$primary-color-dark: hsl(343, 87%, 48%);

$secondary-color: hsl(0, 0%, 16%);
$secondary-color-light: hsl(0, 0%, 26%);
$secondary-color-dark: hsl(0, 0%, 6%);
