@import 'colors';
@import 'backgrounds';
@import 'texts';
@import '_tables';
@import '_timeline';
/**
    Komponenty
 */
@import 'buttons';

html,
body {
    line-height: 2;
    font-size: 16px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}